*, *:before, *:after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

main {
	margin-inline: auto;
	width: min(100%, 500px);
	padding: 20px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Ensure that lists remain available to assistive technologies */
ul[role="list"] {
  list-style-type: none;
}

.slide {
	overflow: hidden;

	.slide-images {
		--gap: 12px; /* value must contain a unit, e.g. '0px' for no gaps */
		display: flex;
		gap: var(--gap);
		translate: calc(var(--pos, 0) * (100% + var(--gap)));
		transition: translate 500ms cubic-bezier(.4,.84,.44,1);
		touch-action: none;

		&.bounce {
			animation: bounce calc(var(--bounce-duration, 0) * 1ms) ease-out;
		}

		.slide-image {
			flex: 1 0 100%;
			aspect-ratio: 1;
		}

		:is(img, picture) {
			min-width: 100%;
			min-height: 100%;
			object-fit: cover;
			pointer-events: none;
		}
	}

	.slide-control {
		display: flex;
		gap: 1em;
		justify-content: center;
		margin-top: 1.5em;

		button {
			font-family: monospace;
			font-size: 1rem;
			width: 3em;
			height: 3em;
		}
	}
}

@keyframes bounce {
    0% { transform: translateX(0); }
    50% { transform: translateX(calc(var(--n) * 7%)); }
    100% { transform: translateX(0); }
}
